{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>New Page</h1>

   <form action="{% url 'new_page' %}" method="POST">
    {% csrf_token %}
    <label>Title: </label>
    <input type="text" name="title" placeholder="Enter a Title"></input>
    </br>
    <label>Markdown Content: </label>
    </br>
    <textarea name="Content"></textarea>
    </br>
    <div class="text-center"><input type="submit" value="Create New Page" class="btn btn-primary"></input></div>
   </form>

{% endblock %}